* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}

/* Global Styles */
img {
    max-width: 100%;
    height: auto;
}

/* Header */
header {
    background-color: #070e16;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo img {
    height: auto;
    max-width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #2fe25f;
}

/* Hero Section */
.hero {
    background-image: url("front.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    color: #ffffff;
}

.hero-content {
    max-width: 600px;
    padding: 20px;
    margin: 50px 4%;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #ffffff6f;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    color: #ffffff;
    background-color: #000000;
}

/* About Section */
.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 0;
    background-color: #070e16;
}

.about-content {
    flex: 1;
    max-width: 600px;
    padding-right: 50px;
    color: #fff;
    margin-left: 5%;
}

.about h2 {
    color: #0ee1ac;
    font-size: 2rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.about-image {
    max-width: 100%;
    margin: 20px 5%;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Menu Section */
.menu {
    padding: 80px 0;
    text-align: center;
    background-color: #070e16;
}

.menu h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #0ee1ac;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    flex: 1 1 calc(33.333% - 10px);
    max-width: 300px;
    margin: 5px;
    text-align: left;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.menu-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffee00;
}

.menu-item p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .menu-item {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .menu-item {
        flex: 1 1 100%;
    }
}

/* Reservations Section */
.reservations {
    background-color: #1f1f1f;
    padding: 80px 0;
    text-align: center;
}

.reservation-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #333;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.reservation-form h2 {
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 20px;
}

.reservation-form form input,
.reservation-form form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.reservation-form form button {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.reservation-form form button:hover {
    background-color: #00ff2a;
}

/* Testimonials Section */
.testimonials {
    padding: 80px 0;
    text-align: center;
    background-color: #070e16;
}

.testimonials h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #fefeff;
}

.testimonial {
    max-width: 600px;
    margin: 0 auto 40px;
    text-align: left;
}

.testimonial img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 20px;
}

.testimonial p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.testimonial h4 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
}

/* Contact Section */
.contact {
    background-color: #333;
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
}

.contact h2 {
    color: #0cd9d2;
    font-size: 2rem;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.info-item {
    margin: 0 20px;
    text-align: center;
}

.info-item i {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #00ff44;
}

/* Footer */
.footer {
    background-color: #070e16;
    padding: 40px 0;
    color: #fff;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.footer-logo img {
    max-width: 150px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-social a {
    color: #fff;
    margin: 0 5px;
    text-decoration: none;
}

.footer-text {
    font-size: 0.875rem;
}
